/front/node_modules
/front/build
/front/.pnp
/front/.pnp.js

/front/coverage

/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*


/server/node_modules

